includes:
  - vendor/szepeviktor/phpstan-wordpress/extension.neon
  - phpstan-baseline.neon
parameters:
  level: 6
  parallel:
    maximumNumberOfProcesses: 1
  paths:
    - skwirrel-pim-sync.php
    - includes/
  excludePaths:
    - vendor/
  bootstrapFiles:
    - vendor/php-stubs/woocommerce-stubs/woocommerce-stubs.php
    - vendor/php-stubs/woocommerce-stubs/woocommerce-packages-stubs.php
  scanFiles:
    - skwirrel-pim-sync.php
